.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

/* Utilidades de posicionamiento */

.rel { position: relative; }
.abs { position: absolute; }

.z--1 { z-index: -1; }
.z-0  { z-index: 0; }
.z-1  { z-index: 1; }
.z-2  { z-index: 2; }
.z-3  { z-index: 3; }
.z-4  { z-index: 4; }
.z-5  { z-index: 5; }

/* Overlay */

.overlay {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.75;
    background: var(--light-color);
  }

  * {
    z-index: 2;
    position: relative;
  }
}

/* Colores de fondo */

.bg-lighter { background: var(--light-color); }
.bg-blue    { background: var(--primary-color); }
.bg-gray    { background: #222b40; }

.bgs-cover {
  background-size: cover;
  background-position: center;
}

/* Bordes redondeados */

.br-5  { border-radius: 5px; }
.br-10 { border-radius: 10px; }

/* Remueve espacio entre columnas */

.row.no-gap {
  margin-left: 0;
  margin-right: 0;

  > div {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Formato condicional */

.before-none:before,
.after-none:after {
  display: none;
}
