/******************************************************
******************** 14. Blog Area *******************
******************************************************/

.blog-item {
  position: relative;
  margin-bottom: 30px;
  box-shadow: 10px 0 60px rgba(81, 56, 238, 0.1);

  .image img {
    width: 100%;
  }

  .learn-more {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.blog-content {
  padding: 40px 30px 10px;
  border-bottom: 1px solid var(--border-color);

  h4 {
    margin-bottom: 12px;
  }
}

.blog-author {
  left: 30px;
  padding: 6px;
  display: flex;
  background: white;
  margin-top: -25px;
  border-radius: 5px;
  position: absolute;
  align-items: center;
  width: calc(100% - 60px);
  box-shadow: 10px 0 60px rgba(81, 56, 238, 0.15);

  img {
    flex: none;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    margin-right: 10px;
  }

  h5 {
    margin: 0;
  }
}

.blog-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;

  li {
    transition: 0.5s;

    &:not(:last-child) {
      margin-right: 18px;
    }

    i {
      margin-right: 5px;
    }
  }
}

/* Blog Style Two */

.blog-item-two {
  z-index: 1;
  padding: 35px;
  transition: 0.5s;
  background: white;
  position: relative;
  margin-bottom: 30px;

  h3 {
    line-height: 1.35;
    margin-bottom: 12px;

    a:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    color: white;

    a {
      color: white;
    }

    .blog-two-image {
      opacity: 1;
    }
  }
}

.blog-two-image {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
  background-size: cover;

  &:after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
  }
}

/* Blog Standard */

.blog-standard-item {
  &:not(:last-child) {
    margin-bottom: 60px;
  }

  > img {
    margin-bottom: 35px;
    width: 100%;
  }

  .blog-meta {
    margin-bottom: 12px;
    font-size: 18px;

    li {
      line-height: 1;
      margin-right: 25px;
      margin-bottom: 12px;
      padding-right: 25px;
      border-right: 3px solid var(--border-color);
    }
  }

  > p {
    font-size: 18px;
  }

  h2 {
    font-size: 35px;
  }

  p, h2 {
    margin-bottom: 15px;
  }

  .theme-btn {
    margin-top: 15px;
  }
}
